<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% assign featured = settings.home_featured_products %}
{% assign products_per_row = settings.collections_products_per_row %}
{% assign rows = settings.collections_rows %}
{% assign total_products = products_per_row | times: rows %}

{% assign slider_home_enable = 0 %}
{% for i in (1..6) %}
  {% capture slide %}slide_{{ i }}{% endcapture %}
  {% if settings[slide] %}
    {% assign slider_home_enable = slider_home_enable | plus: 1 %}
  {% endif %}
{% endfor %}

{% if slider_home_enable > 0 %}
  {% if slider_home_enable > 1 %}
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..6) %}
          {% capture slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% if settings[slide] %}
          <li>
            <img src="{{ image | asset_url }}" alt="Slideshow image {{ forloop.index }}">
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <ul class="flex-nav">
        <li class="flex-nav-prev">
          <a class="flex-prev" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M6.4 15l-6.4-7.5 6.3-7.5 1.1 1-5.4 6.5 5.6 6.5z"/></svg></a>
        </li>
        <li class="flex-nav-next">
          <a class="flex-next" href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7.6 15" enable-background="new 0 0 7.6 15"><path d="M1.1 0l6.5 7.5-6.3 7.5-1.2-1 5.5-6.5-5.6-6.5z"/></svg></a>
        </li>
      </ul>
    </div>
  {% else %}
    <div class="welcome-image">
        {% for i in (1..6) %}
          {% capture slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% if settings[slide] %}
            <img src="{{ image | asset_url }}" alt="Welcome image {{ forloop.index }}">
          {% endif %}
        {% endfor %}
    </div>
  {% endif %}
{% endif %}

<h1>{{ 'homepage.sections.frontpage_title' | t }}</h1>

{% comment %}
  Change the grid item width by using classes from the grid in
  the grid_item_width variable.

  Example:
    - {% assign grid_item_width = 'large--one-third medium--one-half' %}
{% endcomment %}
{% case products_per_row %}
  {% when '2' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-half xlarge--one-half' %}
  {% when '3' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-third xlarge--one-third' %}
  {% when '4' %}
    {% assign grid_item_width = 'small--one-half medium--one-half large--one-third xlarge--one-quarter' %}
{% endcase %}

<div class="grid-uniform">

  {% comment %}
    Loop through products in your Frontpage collection.
    This collection is created by default, but you must add products to it.
  {% endcomment %}
  {% for product in collections[featured].products limit: total_products %}

    {% include 'product-grid-item' %}

  {% else %}
    {% comment %}
      For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
    {% endcomment %}
    {% unless emptyState %}
      {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
      {% assign emptyState = true %}
    {% endunless %}

    {% include 'onboarding-featured-products' %}

  {% endfor %}

</div>
