<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &mdash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &mdash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &mdash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <!--
  <div class="mobile_nav">
    <a class="open_menu" href="#" title="Menu">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <a href="/cart" class="mobile_cart"><svg class="cart_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 17" enable-background="new 0 0 22 17"><path d="M4.3 0h-4.3l.5 1.4h2.8l4.2 10.9h10.5l.5-1.4h-10zM6.9 1.9l2.8 7.1h9.5l2.8-7.1h-15.1zm11.4 5.7h-7.6l-1.7-4.3h10.9l-1.6 4.3z"/><circle cx="10.2" cy="15.6" r="1.4"/><circle cx="15.6" cy="15.6" r="1.4"/></svg><span class="cart_numbers">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} / {{ cart.total_price | money }}</span></a>
  </div>
  -->
  <header class="site-header{% if settings.use_logo %} site-header--logo{% else %} site-header--text{% endif %}">
    <div class="wrap">
      <a href="/" title="{{ store.name | escape }}" class="site-header__link {% if settings.use_logo %}site-header__link-logo{% else %}site-header__link--text{% endif %}">
        {% if settings.use_logo %}
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
    </div>
  </header>
  <div class="wrap">
    <section class="content">
      {{ content_for_layout }}
    </section>
    <!--
    <aside>
      <a href="/cart" class="side_cart"><svg class="cart_icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 17" enable-background="new 0 0 22 17"><path d="M4.3 0h-4.3l.5 1.4h2.8l4.2 10.9h10.5l.5-1.4h-10zM6.9 1.9l2.8 7.1h9.5l2.8-7.1h-15.1zm11.4 5.7h-7.6l-1.7-4.3h10.9l-1.6 4.3z"/><circle cx="10.2" cy="15.6" r="1.4"/><circle cx="15.6" cy="15.6" r="1.4"/></svg><span class="cart_title">{{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} / {{ cart.total_price | money }}</span>
        <span class="cart_numbers">{{ cart.total_price | money }}</span>
      </a>
      <div class="side_categories">
        <h3>Shop</h3>
        <ul>
          <li><a href="/products">All Products</a></li>
          {% if settings.show_search %}
            <li class="side_search">
              <form class="search_form" name="search" action="/products" method="get" accept-charset="utf8">
                <input type="hidden" name="utf8" value='✓'>
                <label for="search">Search...</label>
                <input class="search_input" id="search" name="search" type="text" autocomplete="off" />
              </form>
            </li>
          {% endif %}
          {% for i in (1..5) %}
            <li><a href="#">Collection {{ i }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% if settings.show_newest %}
        {% comment %}
        {% get 5 products from products.all order: 'newest' %}
          {% if products != blank %}
            <div class="side_pages">
              <h3>Newest Products</h3>
              <ul>
                {% for product in products %}
                  <li>{{ product | link_to }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endget %}
        {% endcomment %}
      {% endif %}
      {% if settings.show_top_selling %}
        {% comment %}
        {% get 5 products from products.all order: 'sales' %}
          {% if products != blank %}
            <div class="side_pages">
              <h3>Top Selling</h3>
              <ul>
                {% for product in products %}
                  <li>{{ product | link_to }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endget %}
        {% endcomment %}
      {% endif %}
      <div class="side_pages">
        <h3>Pages</h3>
        <ul>
          {% for i in (1..5) %}
            <li><a href="#">Page {{ i }}</a></li>
          {% endfor %}
          <li><a href="/contact" title="Contact">Contact</a></li>
        </ul>
      </div>
    </aside>
    -->
  </div>
  <footer>
    <div class="wrap">
      <div class="footer_left">
        &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. {{ powered_by_link }}
      </div>
      <div class="footer_right">
        {% if settings.twitter_url != blank or settings.facebook_url != blank or settings.instagram_url != blank or settings.tumblr_url != blank or settings.pinterest_url != blank %}
          <div class="social_links">
            <ul class="social_icons">
              {% if settings.twitter_url != blank %}
                <li><a title="Twitter" href="{{ settings.twitter_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 150.857 612 490.298"><path d="M606 209c-22.2 9.7-46 16.4-70.8 19.4 25.4-15.3 45-39.6 54-68.5-23.7 14-50 24-78 30-22.5-24-54.4-39-89.8-39-68 0-123 55-123 123 0 9.3 1 19 3 28-102.2-5-192.8-54-253.4-129-11 18.3-17 39.5-17 62.2 0 43 21.5 81 54.6 103-20.2-.6-39.2-6-55.8-15.4v2c0 60 42.3 110 98.6 121.2-10.4 3-21.3 4.6-32.5 4.6-8 0-16-1-23-2.5 15 49.3 61 85 115 86-42 33.3-96 53-153 53-10 0-20-.5-30-1.7 55 35 119.5 55.5 189 55.5 226.3 0 350-188.5 350-352 0-5.5 0-10.8-.3-16 24-17.6 45-39.4 61.4-64z"/></svg></a></li>
              {% endif %}

              {% if settings.facebook_url != blank %}
                <li><a title="Facebook" href="{{ settings.facebook_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="157.162 90 297.799 612"><path d="M369.036 193.795h85.68V90H333.662c-97.553 19.707-98.776 108.936-98.776 108.936V304.69h-77.724v102.937h77.724V702H343.21V407.383h102.08l9.67-102.938H343.945v-75.52c-.123-33.172 25.092-35.13 25.092-35.13z"/></svg></a></li>
              {% endif %}

              {% if settings.instagram_url != blank %}
                <li><a title="Instagram" href="{{ settings.instagram_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 90 612 612"><path d="M540.273 90H71.727C32.19 90 0 122.19 0 161.727v468.67C0 669.81 32.19 702 71.727 702h468.67c39.535 0 71.726-32.19 71.726-71.727V161.727C612 122.313 579.687 90 540.273 90zM306 280.332c63.893 0 115.668 51.775 115.668 115.668S369.893 511.668 306 511.668 190.332 459.893 190.332 396 242.107 280.332 306 280.332zM542.232 608.12c0 13.096-10.77 23.867-23.868 23.867H92.412c-13.097 0-23.868-10.77-23.868-23.868V348.51h56.304c-3.917 15.177-6.12 31.21-6.12 47.49 0 103.55 83.966 187.272 187.272 187.272S493.272 499.552 493.272 396c0-16.524-2.204-32.313-6.12-47.49h55.08v259.61zm0-353.002c0 13.097-10.77 23.868-23.868 23.868h-69.77c-13.096 0-23.867-10.77-23.867-23.868V185.35c0-13.097 10.77-23.868 23.868-23.868h69.77c13.096 0 23.867 10.77 23.867 23.868v69.768z"/></svg></a></li>
              {% endif %}

              {% if settings.tumblr_url != blank %}
                <li><a title="Tumblr" href="{{ settings.tumblr_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="117.504 90 377.114 611.937"><path d="M493.272 571.276c-14.566 13.832-55.692 26.194-55.692 26.194-115.18 27.907-107.957-66.464-107.957-66.464v-189.72h144.31v-96.818h-144.31V90H241.74c-11.383 139.658-124.236 164.628-124.236 164.628v87.394h67.81v224.604c-.98 62.424 36.475 92.656 36.475 92.656 115.055 89.964 272.83 9.67 272.83 9.67v-99.02l-1.348 1.344z"/></svg></a></li>
              {% endif %}

              {% if settings.pinterest_url != blank %}
                <li><a title="Pinterest" href="{{ settings.pinterest_url }}"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 12 16"><path d="M4.933 10.582c-.406 2.203-.9 4.314-2.366 5.418-.452-3.33.665-5.83 1.183-8.484C2.866 6 3.9 2.9 5.7 3.63c2.315.97-2 5.77.9 6.34 3 .6 4.225-5.4 2.365-7.36C6.285-.22 1.1 2.5 1.8 6.596c.154 1 1.1 1.3.4 2.658C.48 8.858-.034 7.45.032 5.574.138 2.504 2.692.352 5.255.054c3.24-.376 6.3 1.2 6.7 4.396.473 3.568-1.462 7.433-4.927 7.2C6.063 11.5 5.7 11 4.9 10.582z"/></svg></a></li>
              {% endif %}
            </ul>
          </div>
        {% endif %}
      </div>
    </div>
  </footer>
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js' | script_tag }}
  {{ 'script.js' | asset_url | script_tag }}
  {% if template contains 'product' %}
    <script async defer src="//assets.pinterest.com/js/pinit.js"></script>
  {% endif %}
  <script>
    $(function() {
      if ($('.flexslider').length) {
        $('.flexslider').flexslider({
          animation: "slide",
          customDirectionNav: $(".flex-nav a")
        });
      }
    });
  </script>
</body>
</html>
