<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &mdash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &mdash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &mdash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {% include 'google-fonts' %}
  {{ 'styles.css' | asset_url | stylesheet_tag }}

  {{ content_for_header }}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js' | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
  <div class="mobile-nav">
    <a class="open-menu icon-hamburger left vertical-align" href="#" title="{{ 'layout.navigation.menu' | t }}">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </a>
    <a href="/cart" class="mobile-nav-cart"><svg class="mobile-nav-cart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 17" enable-background="new 0 0 22 17"><path d="M4.3 0h-4.3l.5 1.4h2.8l4.2 10.9h10.5l.5-1.4h-10zM6.9 1.9l2.8 7.1h9.5l2.8-7.1h-15.1zm11.4 5.7h-7.6l-1.7-4.3h10.9l-1.6 4.3z"/><circle cx="10.2" cy="15.6" r="1.4"/><circle cx="15.6" cy="15.6" r="1.4"/></svg><span class="cart_numbers">{{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }} / {{ cart.total_price | money }}</span></a>
  </div>
  <header class="site-header{% if settings.use_logo %} site-header--logo{% else %} site-header--text{% endif %}">
    <div class="wrap">
      <a href="/" title="{{ shop.name | escape }}">
        {% if settings.use_logo %}
          <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}">
        {% else %}
          {{ shop.name }}
        {% endif %}
      </a>
    </div>
  </header>
  <div class="wrap">
    <section class="content">
      {{ content_for_layout }}
    </section>
    <aside class="site-sidebar">
      <a href="/cart" class="side-cart">
        <svg class="side-cart__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 17" enable-background="new 0 0 22 17"><path d="M4.3 0h-4.3l.5 1.4h2.8l4.2 10.9h10.5l.5-1.4h-10zM6.9 1.9l2.8 7.1h9.5l2.8-7.1h-15.1zm11.4 5.7h-7.6l-1.7-4.3h10.9l-1.6 4.3z"/><circle cx="10.2" cy="15.6" r="1.4"/><circle cx="15.6" cy="15.6" r="1.4"/></svg>
        <span class="side-cart__count">{{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        <span class="side-cart__cost">{{ cart.total_price | money }}</span>
      </a>
      <div class="sidebar-menu-container">
        <h3 class="sidebar-menu-container__title">{{ 'layout.navigation.shop' | t }}</h3>
        <ul class="sidebar-menu">
          {% comment %}
            The page shown at /collections/all is referred to as the catalog page.
          {% endcomment %}
          <li class="sidebar-menu__item"><a href="/collections/all">{{ 'collections.general.all_products' | t }}</a></li>
          {% if settings.show_search %}
            <li class="side_search">
              <form class="search-form" action="/search" method="get" role="search">
                <input type="hidden" name="type" value="product" />
                <input class="search-form__input" id="search-field" name="q" type="text" autocomplete="off" />
                <label class="search-form__label" for="search-field">{{ 'general.search.placeholder' | t }}</label>
              </form>
            </li>
          {% endif %}

          {% if settings.ll_collections != '' and linklists[settings.ll_collections].links.size > 0 %}
            {% include 'shop-collections-menu' with settings.ll_collections %}
          {% else %}
            {% include 'shop-collections-menu' %}
          {% endif %}

          {% comment %}
            If customer accounts are enabled, provide login and create account links
          {% endcomment %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <li class="sidebar-menu__item">
                {% if customer.first_name != blank %}
                  {% capture first_name %}{{ customer.first_name }}{% endcapture %}
                  <a href="/account">{{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}</a>
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li class="sidebar-menu__item">
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li class="sidebar-menu__item">
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li class="sidebar-menu__item">
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          {% endif %}
        </ul>
      </div>

      {% if settings.sidebar_shop_vendors_enable %}
        <div class="sidebar-menu-container">
          <h3 class="sidebar-menu-container__title">{{ 'layout.navigation.vendors' | t }}</h3>
          <ul class="sidebar-menu">
            {% for product_vendor in shop.vendors %}
              <li class="sidebar-menu__item">{{ product_vendor | link_to_vendor }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.sidebar_newest_products_enable %}
        {% assign newestCollection = settings.sidebar_newest_products_collection %}
        <div class="sidebar-menu-container">
          <h3 class="sidebar-menu-container__title">{{ 'collections.general.newest_products' | t }}</h3>
          <ul class="sidebar-menu">
            {% for product in collections[newestCollection].products limit: 5 %}
              <li class="sidebar-menu__item"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.sidebar_top_selling_enable %}
        {% assign topSellingCollection = settings.sidebar_top_selling_collection %}
        <div class="sidebar-menu-container">
          <h3 class="sidebar-menu-container__title">{{ 'collections.general.top_selling' | t }}</h3>
          <ul class="sidebar-menu">
            {% for product in collections[topSellingCollection].products limit: 5 %}
              <li class="sidebar-menu__item"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if settings.sidebar_additional_menu_enable %}
        <div class="sidebar-menu-container">
          <h3 class="sidebar-menu-container__title">{{ linklists[settings.sidebar_additional_menu].title }}</h3>
          <ul class="sidebar-menu">
            {% for link in linklists[settings.sidebar_additional_menu].links %}
              <li class="sidebar-menu__item"><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </aside>
  </div>
  <footer class="site-footer">
    <div class="wrap">
      <div class="grid">
        <div class="grid__item large--one-half xlarge--one-half small--text-center medium--text-center large--text-left site-footer__about">
          &copy; {{ 'now' | date: '%Y' }} {{ shop.name }}. {{ powered_by_link }}
        </div>
        <div class="grid__item large--one-half xlarge--one-half small--text-center medium--text-center large--text-right">
          {% if settings.social_twitter_link != blank or settings.social_facebook_link != blank or settings.social_instagram_link != blank or settings.social_tumblr_link != blank or settings.social_pinterest_link != blank %}
            {% comment %}
              Loop through the social network links
            {% endcomment %}
            {% include 'social-links' %}
          {% endif %}
        </div>
      </div>
    </div>
  </footer>

  {{ 'script.js' | asset_url | script_tag }}

</body>
</html>
