<!-- /snippets/product-grid-item.liquid -->

{% unless grid_item_width %}
  {% assign grid_item_width = 'small--one-half medium--one-third large--one-third xlarge--one-third' %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

<div class="grid__item product {{grid_item_width}}{% if sold_out %} sold-out{% endif %}{% if on_sale %} on-sale{% endif %}">
  <a class="product__link" href="{{ product.url | within: collection }}">
    <img class="product__image" src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
    <h4 class="product__name">{{ product.title }}</h4>
    <h5 class="product__price">{{ product.price | money }}</h5>
    {% if on_sale %}<span class="product__status">On Sale</span>{% endif %}
    {% if sold_out %}<span class="product__status">Sold Out</span>{% endif %}
  </a>
</div>
